<img class="mb-4" src="https://play-lh.googleusercontent.com/6889LW9aqMqkDuTSAiavtBGyiJa0QHggQGkWfjm-OSogmxWnmpgrmcHZ2TxnLj4-e9o" style="margin:0% 15% 0% 15%" alt=""  height="200">
  <h3 class='container d-flex justify-content-center my-30'>Currency Converter</h3>
<body class="text-center">
<form id="curForm" class='container d-flex justify-content-center my-30'>


<div style="margin:3% 30% 0% 30%">
<div id="inputRub" class="input-group mb-3">
  <span class="input-group-text">₽</span>
  <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
</div>
<div id="inputCur" class="input-group mb-3">
  <span class="input-group-text">$</span>
  <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
</div>

<div id="buttons" class="btn-group" role="group" style="margin:3% 15% 0% 15%" aria-label="Basic radio toggle button group">
  <input type="radio" class="btn-check" name="USD" id="btnradio1" autocomplete="off" checked>
  <label class="btn btn-outline-secondary" for="btnradio1">USD</label>

  <input type="radio" class="btn-check" name="EUR" id="btnradio2" autocomplete="off" checked>
  <label class="btn btn-outline-secondary" for="btnradio2">EUR</label>

  <input type="radio" class="btn-check" name="GBP" id="btnradio3" autocomplete="off" checked>
  <label class="btn btn-outline-secondary" for="btnradio3">GBP</label>
</div>
</div>
</form>
 
<footer><p class="mt-5 mb-3 text-muted">&copy;2021</p></footer>
</body>
<script defer src="/js/view.js"></script>
<script defer src="/js/controller.js"></script>
<script defer src="/js/start.js"></script>
